<section>
  <md-toolbar>

    <div class="md-toolbar-tools">
      <span class="md-flex">New Task - {{vm.newTask.name}}</span>
    </div>
  </md-toolbar>



  <md-content layout-padding>
    <form name="newTaskForm" layout-padding layout="column">

      <div layout="row">

        <md-input-container flex="70">
          <label>Task Name</label>
          <input name="taskName" ng-model="vm.newTask.name" required>
        </md-input-container>

        <md-input-container flex="30">
          <label>Due Date</label>
          <md-datepicker name="dueDate" ng-model="vm.newTask.dueDate" md-open-on-focus="" required></md-datepicker>
        </md-input-container>

      </div>

      <md-input-container>
        <label>Category</label>
        <md-select name="category" ng-model="vm.newTask.category">
          <md-option value="Work">Work</md-option>
          <md-option value="School">School</md-option>
          <md-option value="Chores">Chores</md-option>
          <md-option value="Grocery">Grocery</md-option>
          <md-option value="Miscellaneous">Miscellaneous</md-option>
        </md-select>
      </md-input-container>


      <md-input-container>
        <label>Priority</label>
        <md-select name="priority" ng-model="vm.newTask.priority" required>
          <md-option value="Critical">Critical</md-option>
          <md-option value="Important">Imortant</md-option>
          <md-option value="Normal">Normal</md-option>
          <md-option value="Low">Low</md-option>
        </md-select>
      </md-input-container>

      <md-input-container class="md-block" md-auto-hide="false">
        <label>Description</label>
        <textarea ng-model="vm.newTask.description" rows="5" md-select-on-focus></textarea>
      </md-input-container>
    </form>

    <md-button ng-hide="newTaskForm.taskName.$invalid  || newTaskForm.dueDate.$invalid || newTaskForm.priority.$invalid" ng-click="vm.addNewTask(vm.newTask, $event); vm.newTask={}" class="md-raised newTaskButton" layout="row" layout-align="center center">
      Submit
    </md-button>



  </md-content>


</section>
